body {
    background-color: rgb(234, 234, 234);
    font-size: 1.1rem;
    margin: 0;
    gap: 1rem;
    display: flex;
    flex-direction: column;

    header nav {
        padding: 2rem;
        button {
            font-size: 1.4rem;
        }
    }

    main {
        display: flex;
        justify-content: space-between;
        padding-inline: 2rem;
        gap: 2rem;

        /* all direct divs */
        & > div {
            gap: 2rem;
            & section {
                padding: 1rem;
                border-radius: 5px;
                max-width: 60rem;
            }
            & section:nth-of-type(1) {
                background-color: white; 
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            }
        }

        /* Main content */
        & > div:nth-of-type(1) {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        /* Other div with settings and history */
        & > div:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            max-height: calc(100dvh - 9rem);
            section {
                width: 33rem;
            }
        }

        /* .explDomain {
        } */

        .settings {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h2 {
                margin: 0;
            }
        }
    
        .history {
            display: flex;
            flex-direction: column;
            max-height: 60%;

            & > div {
                overflow-y: scroll;
                gap: 0.5rem;
                display: flex;
                flex-direction: column;
                & details {
                    padding-block: 0.5rem;
                    transition: 0.2s linear;
                    width: 96%;
                    background: #c5c5c5;
                    border-radius: 5px;
                    &.success {
                        background-color: var(--color-success);
                        & summary {
                            color: var(--color-success-text);
                        }
                    }
                    &.warning {
                        background-color: var(--color-warning);
                        & summary {
                            color: var(--color-warning-text);
                        }
                    }
                    &.danger {
                        background-color: var(--color-danger);
                        & summary {
                            color: var(--color-danger-text);
                        }
                    }
                    & summary {
                        transition: color 1s;
                        list-style: none;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 15px;
                        font-weight: bold;
                        overflow-x: hidden;
                        border-radius: 5px;
                        color: #30353b;
                        &:hover {
                            cursor: pointer;
                        }
                        &::-webkit-details-marker {
                            display: none;
                        }
                        &::after {
                            content: '';
                            width: 0; 
                            height: 0; 
                            border-top: 10px solid #15171b;
                            border-inline: 7px solid transparent;
                            transition: 0.2s;
                        } 
                    }
                    & div {
                        padding: 10px 15px;
                        overflow-x: hidden;
                    } 
                }         
                details[open] > summary {
                    border-bottom: 2px solid #525252;
                    border-radius: 5px 5px 0 0;
                    &::after {
                        transform: rotate(-180deg);
                    }
                }
            }
            &.hidden {
                display: none;
            }
        }
    }
}


@media (max-width: 1300px) {
    body {
        main {
            flex-direction: column;
            align-items: center;
            & > div:nth-of-type(2) {
                width: 100%;
            }
        }
    }
}