body {
    background-color: rgb(234, 234, 234);
    font-size: 1.1rem;
    margin: 0;
    gap: 1rem;
    display: flex;
    flex-direction: column;

    header nav {
        padding: 2rem;
        button {
            font-size: 1.4rem;
        }
    }

    main {
        display: flex;
        padding-inline: 2rem;
        gap: 4rem;
        margin-bottom: 4rem;

        /* Main content */
        & > div:nth-of-type(1) {
            gap: 2rem;
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 44em;

            & > section:nth-of-type(1) {
                padding: 1.5rem;
                border-radius: 5px;
                background-color: white; 
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                h2, ul {
                    margin: 0;
                }
            }

            /* Other div with settings and history */
            & > div {
                gap: 1.5rem;
                display: flex;
                flex-direction: column;
                height: fit-content;
                padding: 1.5rem;
                border-radius: 5px;
                background-color: white; 
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                button {
                    font-size: 1.1rem;
                }
                section {
                    width: 33rem;
                }
            }
        }

        .explExtension {
            max-width: 44em;
            h2 {
                margin-top: 0;
            }
        }

        .explDomain {
            .highlight {
                font-weight: 600;
            }
            #changeAdviceBtn {
                margin-top: 1.5rem;
                border: solid black 1px;
                padding: 0;
                padding-left: 1rem;
                height: 3rem;
                span {
                    &.warning {
                        background-color: var(--color-warning);
                    }
                    &.success {
                        background-color: var(--color-success);
                    }
                    height: 100%;
                    padding: 0.8rem;
                    padding-left: 0.4rem;
                    border-radius: 0px 0.5rem 0.5rem 0px;
                }
            }
        }

        .settings, .history {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h2 {
                margin: 0;
            }
        }
    
        .history {
            display: flex;
            flex-direction: column;
            max-height: 26rem;

            & > div {
                overflow-y: scroll;
                max-height: calc(100dvh - 25rem);
                gap: 0.5rem;
                display: flex;
                flex-direction: column;
                & details {
                    padding-block: 0.5rem;
                    transition: 0.2s linear;
                    width: 96%;
                    background: #c5c5c5;
                    border-radius: 5px;
                    &.success {
                        background-color: var(--color-success);
                        & summary {
                            color: var(--color-success-text);
                        }
                    }
                    &.warning {
                        background-color: var(--color-warning);
                        & summary {
                            color: var(--color-warning-text);
                        }
                    }
                    &.danger {
                        background-color: var(--color-danger);
                        & summary {
                            color: var(--color-danger-text);
                        }
                    }
                    & summary {
                        transition: color 1s;
                        list-style: none;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px 15px;
                        font-weight: bold;
                        overflow-x: hidden;
                        border-radius: 5px;
                        color: #30353b;
                        &:hover {
                            cursor: pointer;
                        }
                        &::-webkit-details-marker {
                            display: none;
                        }
                        &::after {
                            content: '';
                            width: 0; 
                            height: 0; 
                            border-top: 10px solid #15171b;
                            border-inline: 7px solid transparent;
                            transition: 0.2s;
                        } 
                    }
                    & div {
                        padding: 10px 15px;
                        overflow-x: hidden;
                        .highlight {
                            font-weight: 600;
                        }
                    } 
                }         
                details[open] > summary {
                    border-bottom: 2px solid #525252;
                    border-radius: 5px 5px 0 0;
                    &::after {
                        transform: rotate(-180deg);
                    }
                }
            }
        }
    }
}

@media (max-width: 78em) {
    body {
        main {
            flex-direction: column;
            & > div:nth-of-type(2) {
                width: 100%;
                max-width: 44em;
            }
        }
    }
}