
body main {
    display: grid;
    grid-template-rows: 33em 1fr;
    grid-template-columns: 3fr 2fr;
    padding-left: 10vw;
    padding-right: 2em;
    gap: 4em;
    margin-bottom: 4em;
    justify-content: center;

    /* TODO MAKE NICE ANIMATIONS WHEN THINGS CHANGE ON THE PAGE */
    /* - LOGBOEK ITEMS SLOWLY FADE IN, one at the time */
    /* Zelfde geldt voor het inrenderen van de stappen op de website */
    /* Hover dialog dat de after iets kantelt, en de onderste lijn iets naar beneden gaat */
    /* Icoontjes subtiel toevoegen voor betere uitstraling */
    
    .explDomain {
        gap: 2em;
        max-width: 44em;
        padding: 1.5em;
        border-radius: 5px;
        background-color: white; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        min-height: 31em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2, ul {
            margin: 0;
        }
        h2 strong {
            color: var(--color-status-text);
        }
        .highlighted-section-wa20250624 {
            margin-bottom: 1em;
        }
        ul {
            padding-left: 1.25em;
            display: flex;
            flex-direction: column;
            gap: 0.2em;
            .highlight-wa20250624 {
                font-weight: 600;
                order: -1;
            }
        }
        
        > div:nth-of-type(2) {
            display: flex;
            flex-direction: column;
            p {
                margin-top: 0;
            }
            #changeAdviceBtn {
                min-height: 3em;
                order: 1;
                span {
                    font-weight: 700;
                    &.warning {
                        color: var(--color-warning-text);
                    }   
                    &.success {
                        color: var(--color-success-text);
                    }
                }
                &:active {
                    scale: 0.98;
                }
            }
        }
    }

    /* Other div with settings and history */
    & > div {
        max-width: 44em;
        grid-column: 2/3;
        grid-row: 1/3;
        min-height: 31em;
        justify-content: space-between;
        gap: 0.8em;
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding: 1.5em;
        border-radius: 5px;
        background-color: white; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        button {
            font-size: 1.1rem;
        }

        .settings {
            h2 {
                margin-block: 0.6em;
            }
            p {
                margin: 0;
            }
            input {
                margin-block: 0.5em;
            }
            > div {
                margin-top: 1.5em;
            }
        }

        & .history {
            display: flex;
            flex-direction: column;

            details {
                &.success {
                    background-color: var(--color-success);
                    & summary {
                        color: var(--color-success-text);
                    }
                }
                &.warning {
                    background-color: var(--color-warning);
                    & summary {
                        color: var(--color-warning-text);
                    }
                }
                &.danger {
                    background-color: var(--color-danger);
                    & summary {
                        color: var(--color-danger-text);
                    }
                }
            }
    
            & > div {
                overflow-y: scroll;
                max-height: calc(100dvh - 25em);
                gap: 0.5em;
                display: flex;
                flex-direction: column;
            }
        }
    }

    .explExtension {
        max-width: 44em;
        grid-column: 1/2;
        grid-row: 2/3;
        h2 {
            margin-top: 0;
        }
     

        details {
            border-bottom: solid 1px black;
            border-top: solid 1px black;
            padding: 1em;
            margin-block: 0.75em;
            border-radius: 0;
            background: none;
            padding-left: 0;
            summary {
                padding-left: 0;
                border-bottom: 0;
                justify-content: start;
                gap: 1em;
                &:after {
                    order: -1;
                }
            }
            &:not([open]):hover {
                padding-bottom: 1.2em;
                summary:after {
                    transform: rotate(-25deg);
                }
            }
            &[open]{
                padding-bottom: 1.2em;
            }
        }
    }
}


/* Media queries */
@media (max-width: 86em) {
    body {
        header, main {
            padding-left: 5vw;
        }
    }
}

@media (max-width: 78em) {
    body {
        gap: 3em;
        header, main {
            padding-left: 0;
            padding-inline: 2em;
        }
    }
}

@media (max-width: 70em) {
    body {
        main {
            display: flex;
            flex-direction: column;
            & > div{
                order: -1;
                min-height: 0em;
            }
            & .explDomain {
                order: -1;
                min-height: 24em;
            }
        }
    }
}

@media (max-width: 50em) {
    body {
        gap: 2em;
        header {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            img {
                position: relative;
                left: 0;
                transform: translateX(0px);
            }
        } 
    }
}