/* Visually hidden elements */
.v-h {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

:root {
    /* --color-danger: #DB0200;
    --color-danger-btn: rgb(90, 21, 21);
    --color-danger-btn-hvr: rgba(122, 0, 0, 0.8);

    --color-danger-fullscreen: #db0400ee;

    --color-success: #20C541;
    --color-success-btn: rgb(39, 141, 51);
    --color-success-btn-hvr: #1a792d;

    --color-warning: #FFC033;
    --color-warning-btn: #4b3400;
    --color-warning-btn-hvr: #815800;

    --color-default: #474545;
    --color-default-btn: rgb(99, 99, 99);
    --color-default-btn-hvr: rgba(99, 99, 99, 0.8);

    --color-status: var(--color-default);
    --color-status-btn: var(--color-default-btn);
    --color-status-btn-hvr: var(--color-default-btn-hvr); */


    --color-danger: #ffd9d8;
    --color-danger-text: rgb(113, 13, 13);

    --color-success: #e7ffec;
    --color-success-text: rgb(3, 99, 14);

    --color-warning: #fff2d5;
    --color-warning-text: rgb(189, 117, 0);

    --color-black: black;
    --color-grey: grey;
    --color-light-grey: #707070;
    --color-white: #fff;
    --color-blue: #2260ff;
    --color-light-blue: #cddbfd;
    --color-border-grey: #b5bfd9;
    --color-background-light: rgb(246, 244, 255);
}

/* btn styles */
button, a.btn-primary {
    padding: 0.6em;
    border: none;
    text-align: center;
    width: fit-content;
    border-radius: 3px;
    font-size: 1em;
    transition: 150ms ease-in-out;
    border-radius: 0.5rem;
    text-decoration: none;
    background-color: var(--color-white);
    &:hover:not(:disabled) {
        cursor: pointer;
    }
    &:disabled {
        opacity: 0.5;
    }
    &:active {
        scale: 0.97;
    }
}
.btn-primary {
    background-color: var(--color-blue);
    color: var(--color-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    &:hover:not(:disabled) {
        background-color: var(--color-light-blue);
        color: var(--color-black);
    }
}

.btn-secondary {
    background-color: var(--color-white);
    color: var(--color-black);
    border: solid 2px var(--color-blue);
    &:hover:not(:disabled) {
        background-color: var(--color-light-blue);
    }
}