/* Visually hidden elements */
.v-h {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

:root {
    /* --color-danger: #DB0200;
    --color-danger-btn: rgb(90, 21, 21);
    --color-danger-btn-hvr: rgba(122, 0, 0, 0.8);

    --color-danger-fullscreen: #db0400ee;

    --color-success: #20C541;
    --color-success-btn: rgb(39, 141, 51);
    --color-success-btn-hvr: #1a792d;

    --color-warning: #FFC033;
    --color-warning-btn: #4b3400;
    --color-warning-btn-hvr: #815800;

    --color-default: #474545;
    --color-default-btn: rgb(99, 99, 99);
    --color-default-btn-hvr: rgba(99, 99, 99, 0.8);

    --color-status: var(--color-default);
    --color-status-btn: var(--color-default-btn);
    --color-status-btn-hvr: var(--color-default-btn-hvr); */


    --color-danger: #fae4e4;
    --color-danger-text: rgb(113, 13, 13);

    --color-success: #ecf7ee;
    --color-success-text: rgb(3, 99, 14);

    --color-warning: #fff5df;
    --color-warning-text: rgb(189, 117, 0);

    --color-black: black;
    --color-grey: #636363;
    --color-light-grey: #707070;
    --color-white: #fff;
    --color-blue: #2260ff;
    --color-light-blue: #cddbfd;
    --color-border-grey: #b5bfd9;
    --color-background-light: rgb(246, 244, 255);
    --border-r: 0.3em;
    --color-status: var(--color-background-light);
    --color-status-text: black;
    --standard-inline-padding: 1em;
    /* --color-status: var(--color-success); */
    /* --color-status: var(--color-warning); */
    /* --color-status: var(--color-danger); */
}

/* body and header */
body {
    background: linear-gradient(180deg, color-mix(in srgb, var(--color-status) 50%, white 50%) 0px, rgba(255, 255, 255, 1) 55em);
    font-size: 1.2rem;
    margin: 0;
    gap: 2em;
    display: flex;
    flex-direction: column;

    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 100 - 900 */
    font-style: normal;

    header {
        background-color: white;
        padding-top: 1em;
        padding-bottom: 0.6em;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        div {
            padding-inline: var(--standard-inline-padding);
            img {
                height: 1.5em;
                aspect-ratio: 5 / 1;
            }
        }
    }

    main {
        display: grid;
        grid-template-rows: auto 34em 1fr;
        grid-template-columns: 3fr 2fr;
        padding-left: 10vw;
        padding-right: 2em;
        gap: 2em;
        margin-bottom: 4em;
        justify-content: center;

        max-width: 68em;
        align-self: center;
        nav {
            button {
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                svg {
                    order: -1;
                }
            }
        } 
    }
}

/* btn styles */
button, a.btn-primary {
    padding: 0.6em;
    border: none;
    text-align: center;
    width: fit-content;
    border-radius: var(--border-r);
    font-size: 1em;
    transition: 150ms ease-in-out;
    text-decoration: none;
    background-color: var(--color-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

    &:hover:not(:disabled) {
        cursor: pointer;
    }
    &:disabled {
        opacity: 0.5;
    }
    &:active {
        scale: 0.97;
    }
    &:focus-visible {
        background-color: rgb(248, 255, 53);
    }
}
.btn-primary {
    background-color: var(--color-blue);
    color: var(--color-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    &:hover:not(:disabled) {
        background-color: var(--color-light-blue);
        color: var(--color-black);
    }
}

.btn-secondary {
    background-color: var(--color-white);
    color: var(--color-black);
    border: solid 2px var(--color-blue);
    &:hover:not(:disabled) {
        background-color: var(--color-light-blue);
    }
}

/* Details styling */
details {
    padding-block: 0.5em;
    transition: 0.2s linear;
    width: 96%;
    background: #e3e3e3;
    border-radius: var(--border-r);
    & summary {
        transition: color 1s;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        font-weight: bold;
        overflow-x: hidden;
        border-radius: var(--border-r);
        color: #30353b;
        &:hover {
            cursor: pointer;
        }
        &::-webkit-details-marker {
            display: none;
        }
        &::after {
            content: '';
            width: 0; 
            height: 0; 
            border-top: 10px solid #15171b;
            border-inline: 7px solid transparent;
            transition: 0.2s;
        } 
    }
    & > div {
        padding: 10px 15px;
        overflow-x: hidden;
        .highlight-wa20250624 {
            font-weight: 600;
        }
    } 
}         
details[open] > summary {
    border-bottom: 2px solid #525252;
    border-radius: var(--border-r) var(--border-r) 0 0;
    &::after {
        transform: rotate(-180deg);
    }
}

@media (min-width: 40em) {
    body header div img{
        height: 2em;
    }
}