:root {
    --color-danger: #ffd9d8;
    --color-danger-text: rgb(113, 13, 13);

    --color-success: #e7ffec;
    --color-success-text: rgb(3, 99, 14);

    --color-warning: #fff2d5;
    --color-warning-text: rgb(189, 117, 0);

    --color-black: black;
    --color-grey: grey;
    --color-light-grey: #707070;
    --color-white: #fff;
    --color-blue: #2260ff;
    --color-light-blue: #cddbfd;
    --color-border-grey: #b5bfd9;
    --color-background-light: rgb(246, 244, 255);
}

/* btn styles */
button, a.btn-primary {
    padding: 0.6em;
    border: none;
    text-align: center;
    width: fit-content;
    border-radius: 3px;
    font-size: 1em;
    transition: 150ms ease-in-out;
    border-radius: 0.5rem;
    text-decoration: none;
    background-color: var(--color-white);
    &:hover:not(:disabled) {
        cursor: pointer;
    }
    &:disabled {
        opacity: 0.5;
    }
}
.btn-primary {
    background-color: var(--color-blue);
    color: var(--color-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    &:hover:not(:disabled) {
        background-color: var(--color-light-blue);
        color: var(--color-black);
    }
}

.btn-secondary {
    background-color: var(--color-white);
    color: var(--color-black);
    border: solid 2px var(--color-blue);
    &:hover:not(:disabled) {
        background-color: var(--color-light-blue);
    }
}