body {
    width: 75% !important;
    margin-inline: auto;
    margin-block: 3em;

    display: flex;
    flex-direction: column;
    gap: 2em;
    & > div > h2 {
        border-bottom: solid black 2px;
    }
}

.shortcutQuestions {
    gap: 1em;
    padding: 0;
}

#who {
    gap: 1em;
}

.littleText {
    font-size: 0.9em;
    color: var(--color-grey);
    margin: 0;
    margin-top: 0.5em;
}

.btn-tertiary {
    order: 4;
    background: none;
    color: var(--color-text);
    text-decoration: underline;
    text-underline-offset: 0.1em;
    margin: 0;
    padding: 0;
    border-radius: 0px;
    &:hover, &:focus-visible {
        text-decoration: none;
        cursor: pointer;
    }
}

main {
    align-items: start;
    padding: 0;
    min-height: 0;
    > section.shortcutQuestions, .startText {
        margin: 0;
        margin-bottom: 0 !important;
    }
}