body {
    background-color: lightgrey;
    & section {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 20px;
    }
    #results > div {
        padding-block: 1rem;
    }
    #results > div:not(:last-child) {
        border-bottom: 1px solid black;
    }
}