
#device, #app, #who, .title {
    display: flex;
    gap: 0.5em;
    margin-top: 0.5em;
    flex-wrap: wrap;
}
#who, .title {
    flex-direction: column;
}

#formatWho {
    font-weight: 700;
}

.shortcutQuestions {
    max-width: var(--standard-content-width);
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    p {
        margin: 0;
        margin-bottom: 0.6em;   
    }
    .startText {
        order: -1;
        margin-bottom: 2em;
        transition: 300ms ease-in-out;
        
        &.hidden {
            opacity: 0;
            height: 0;
            overflow: hidden;
            margin-bottom: 0;
        }
    }

    & form, #output {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: var(--color-background-light);
        border-radius: 10px;
        margin-top: 0.8em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        /* height: 23em; */
        height: fit-content;
        padding: 1rem;

        & > div {
            padding-left: 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            & > label {
                font-weight: 600;
                font-size: 1em;
            }
        }
        & .littleText {
            font-size: 0.9em;
            color: var(--color-grey);
            margin: 0;
            margin-top: 0.5em;
        }
        .btn-primary {
            margin-top: 0.3em;
        }
    }
    .progress-meter {
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: end;
        order: -1;
        gap: 5vw;
        position: relative;
        width: fit-content;
        align-self: center;
        & > span:not(.middle-line) {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10vw;
            height: 10vw;
            border-radius: 50%;
            background-color: var( --color-light-blue);
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
        & span.active {
            background-color: var(--color-blue);
            color: white;
        }
        & span.middle-line, span.middle-line span {
            position: absolute;
            width: 100%;
            height: 5px;
            background-color: var(--color-light-blue);
            z-index: -1;
            top: 50%;
            transform: translateY(-50%);
            span {
                background-color: var(--color-blue);
                display: inline-block;
                width: 0%;
            }
        }
    }
    #controls {
        padding-top: 0.8em;
        display: flex;
        justify-content: space-between;
        button:nth-of-type(2){
            opacity: 0.6;
        }
    }
}

@media (min-width: 500px) {
    .shortcutQuestions {
        .progress-meter {
            & > span:not(.middle-line) {
                width: 3rem;
                height: 3rem;
            }
        }
    }
}

@media (min-width: 43em) {
    form {
        padding: 1em;
    }
}