
#device, #app, #who, .title {
    display: flex;
    gap: 0.5em;
    margin-top: 0.5em;
    flex-wrap: wrap;
}
#who, .title {
    flex-direction: column;
}
label[for="who"] {
    margin-top: 2em;
}
#formatWho {
    font-weight: 700;
}

.shortcutQuestions {
    max-width: var(--standard-content-width);
    margin-bottom: 5em;
    p {
        margin: 0;
        margin-bottom: 0.6em;   
    }

    & form, #output {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        background-color: var(--color-background-light);
        border-radius: 10px;
        padding: 1em;
        margin-top: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        /* height: 23em; */
        height: fit-content;
        & > div, fieldset {
            padding: 0.5em;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 100%;
            & > label {
                font-weight: 600;
                font-size: 1em;
            }
        }
        & .littleText {
            font-size: 0.9em;
            color: var(--color-grey);
            margin: 0;
            margin-top: 1.5em;
        }
        .btn-primary {
            margin-top: 0.3em;
            /* align-self: end; */
        }
    }
    .progress-meter {

    }
    #controls {
        padding-top: 0.5em;
        display: flex;
        /* background-color: var(--color-background-light); */
        justify-content: space-between;
        button:nth-of-type(2){
            opacity: 0.6;
        }
    }
    #output {
        /* background-color: var(--color-background-light); */
        /* padding: ; */
        padding: 0.5em;
    }
    .linkDiv {
        border: solid var(--color-black) 1px;
        display: flex;
        justify-content: space-between;
        padding-left: 1em;
        color: var(--color-grey);
        background-color: white;
        p {
            margin: 0;
        }
    }
    .endText {
        margin-top: 2em;
    }
}