
/* from: https://getcssscan.com/css-checkboxes-examples */
.checkbox-wrapper-16 {
    font-size: 0.9em;
    width: fit-content;
    & *, *:after, *:before {
        box-sizing: border-box;
    }

    & .checkbox-icon {
        transition: 0.375s ease;
        color: var(--color-light-grey);
        & img, svg {
            width: 3em;
            height: 3em;
            object-fit: contain;
        }
        &.macbook-logo {
            display: flex;
            align-items: center;
            gap: 0.3em;
            svg:nth-of-type(1) {
                width: 1.4em;
                height: 1.4em;
            }
            svg:nth-of-type(2) {
                width: 4em;
            }
        }
    }

    & .checkbox-input {
        clip: rect(0 0 0 0);
        -webkit-clip-path: inset(100%);
        clip-path: inset(100%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;

        &:focus + :before {
            transform: scale(1);
            opacity: 1;
        }        
        &:focus + .checkbox-tile {
            border-color: var(--color-blue);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px var(--color-light-blue);
        }

        &:checked + .checkbox-tile {
            border-color: var(--color-blue);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            color: var(--color-blue);
            background-color: var(--color-light-blue);
            &:before {
                transform: scale(1);
                opacity: 1;
                background-color: var(--color-blue);
                border-color: var(--color-blue);
            }
            & .checkbox-icon,
            & .checkbox-label {
                color: var(--color-blue);
            }
        }
    }

    & .checkbox-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 7em;
        min-height: 7em;
        border-radius: 0.5em;
        border: 2px solid var(--color-border-grey);
        background-color: var(--color-white);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        transition: 0.15s ease;
        cursor: pointer;
        position: relative;

        /* Check circle top left */
        &:before {
            content: "";
            position: absolute;
            display: block;
            width: 1.25em;
            height: 1.25em;
            border: 2px solid var(--color-border-grey);
            background-color: var(--color-white);
            border-radius: 50%;
            top: 0.25em;
            left: 0.25em;
            opacity: 0;
            transform: scale(0);
            transition: 0.25s ease;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
            background-size: 12px;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
        &:hover {
            border-color: var(--color-blue);
            &:before {
                transform: scale(1);
                opacity: 1;
            }
        }
        /* Text */
        & .checkbox-label {
            font-size: 0.8em;
            color: var(--color-light-grey);
            transition: 0.375s ease;
            text-align: center;
        }
    }
    & .no-icon {
        width: fit-content;
        padding: 1em;
        min-height: 4em;
        display: flex;
        flex-direction: row;
        & .checkbox-label {
            font-size: 1em;
            color: var(--color-black);
        }
    }
    & input[type="text"], input[type="email"], input[type="tel"] {
        font-size: 1em;
        color: var(--color-blue);
        &.blue-border {
            border-color: var(--color-blue);
        }
    }
}