#output {
    padding: 0.5em;
}
p.placeholder {
    margin-bottom: 0;
}
.endText {
    margin-top: 2em;
    ol {
        margin-top: 2.5em;
        gap: 1.5em;
        display: flex;
        flex-direction: column;
        padding-left: 0;

        li {
            border-radius: 10px;
            display: grid;
            gap: 0.5em;
            grid-template-columns: 18em 1fr;
            grid-template-rows: fit-content 1fr;
            gap: 1em;
            overflow: visible;
            position: relative;
            padding: 1em;
            a {
                width: fit-content;
            }
            img {
                order: -1;
                max-height: 20em;
                max-width: 18em;
                align-self: center;
                width: auto;
                object-fit: contain;
                place-self: center;
            }
            img.logo {
                max-height: 5em;
                max-width: 5em;
                width: auto;
                object-fit: contain;
                place-self: center;
            }
            &::before {
                order: -1;
                content: attr(data-index);
                grid-column: 1/3;
            }
            
        }
        li:nth-of-type(2){
            display: flex;
            flex-direction: column;
        }
        /* Even */
        li:nth-of-type(2n) {
            background-color: var(--color-background-light2);
        }
        /* Odd */
        li:nth-of-type(2n+1) { 
            background-color: var(--color-background-light);
        }
    }
}


@media (max-width: 60em) {
    .endText {
        ol {
            li {
               grid-template-columns: auto 1fr;
            }
        }
    }
}

@media (max-width: 40em) {
    .endText {
        ol {
            li {
                display: flex;
                flex-direction: column;
                align-items: start;
                img, img.logo {
                    align-self: start;
                }
            }
        }
    }
}
@media (max-width: 30em) {
    .endText ol li img {
        max-width: 100%;
    }
}