#output {
    padding: 0.5em;
}
p.placeholder {
    margin-bottom: 0;
}

details {
    & summary {
        transition: color 1s;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 0.5em;
        &:after {
            order: -1;
        }
        &:hover {
            cursor: pointer;
        }
        &::-webkit-details-marker {
            display: none;
        }
        &::after {
            content: '';
            width: 0; 
            height: 0; 
            border-top: 10px solid var(--color-grey);
            border-inline: 7px solid transparent;
            transition: 0.2s;
        } 
    }
    &:not([open]):hover {
        summary:after {
            transform: rotate(-25deg);
        }
    }
    &[open] > summary {
        &::after {
            transform: rotate(-180deg);
        }
    }
}       

.endText {
    margin-top: 1.5em;
    ol {
        margin-top: 2.5em;
        gap: 1.2em;
        display: flex;
        flex-direction: column;
        padding-left: 0;

        li {
            border-radius: var(--border-r);
            display: grid;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            gap: 0.8em;
            grid-template-columns: 18em 1fr;
            grid-template-rows: auto 1fr auto;
            overflow: visible;
            position: relative;
            padding: 1em;
            a {
                width: fit-content;
                &:hover{
                    text-decoration: none;
                }
            }
            > div {
                display: flex;
                flex-direction: column;
                gap: 0.8em;
            }
            p {
                margin: 0;
                /* font-size: 1.6rem; */
                /* Groter en dikker??? */
            }
            img {
                order: -1;
                max-height: 20em;
                max-width: 18em;
                width: auto;
                object-fit: contain;
                justify-self: center;
            }
            details {
                grid-column: 2 / 3;
                summary {
                    color: var(--color-grey);
                }
            }
            img.logo {
                max-height: 5em;
                max-width: 5em;
                width: auto;
                object-fit: contain;
                place-self: center;
            }
            &::before {
                order: -1;
                content: attr(data-index);
                grid-column: 1/3;
            }
            
        }
        li:nth-of-type(2){
            display: flex;
            flex-direction: column;
        }
        /* Even */
        li:nth-of-type(2n) {
            background-color: var(--color-background-light2);
        }
        /* Odd */
        li:nth-of-type(2n+1) { 
            background-color: var(--color-background-light);
        }
    }
}


@media (max-width: 60em) {
    .endText {
        ol {
            li {
               grid-template-columns: auto 1fr;
            }
        }
    }
}

@media (max-width: 40em) {
    .endText {
        ol {
            li {
                display: flex;
                flex-direction: column;
                align-items: start;
                img, img.logo {
                    align-self: start;
                }
            }
        }
    }
}
@media (max-width: 30em) {
    .endText ol li img {
        max-width: 100%;
    }
}