:root {
    --color-black: black;
    --color-grey: grey;
    --color-light-grey: #707070;
    --color-white: #fff;
    --color-blue: #2260ff;
    --color-light-blue: #cddbfd;
    --color-border-grey: #b5bfd9;
    --color-background-light: rgb(246, 244, 255);
    /* --color-background-button: rgb(237, 233, 255); */
    --standard-inline-padding: 1rem;
    --standard-content-width: 60rem;
}

body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* Value from 200 to 1000 */
    font-style: normal;
    margin: 0;
}

/* classes */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.icon-bigger {
    scale: 1.6;
}

/* btn styles */
button {
    padding: 0.6em;
    border: none;
    text-align: center;
    width: fit-content;
    border-radius: 3px;
    font-size: 1em;
    transition: 150ms ease-in-out;
    border-radius: 0.5rem;
    &:hover:not(:disabled) {
        cursor: pointer;
    }
    &:disabled {
        opacity: 0.5;
    }
}
.btn-primary {
    background-color: var(--color-blue);
    color: var(--color-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    &:hover:not(:disabled) {
        background-color: var(--color-light-blue);
        color: var(--color-black);
    }
}
.btn-secondary {
    background-color: var(--color-white);
    color: var(--color-black);
    border: solid 2px var(--color-blue);
    &:hover:not(:disabled) {
        background-color: var(--color-light-blue);
    }
}



/* main elements on the page */
header {
    /* display: flex;
    justify-content: center; */
    padding-block: 2em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    div {
        /* max-width: var(--standard-content-width);
        width: 100%; */
        padding-inline: var(--standard-inline-padding);
        h1 {
            font-size: 1.3em;
            margin: 0;
        }
    }
}
main {
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: calc(100vh - 15.11em);
    & section {
        font-size: 1.4em;
        padding-inline: var(--standard-inline-padding);
        h2 {
            margin: 0;
            font-size: 1.05em;
        }
    }
    .shortcutInfo {
        background-color: var(--color-background-light);
    }
    
    .shortcutInfo, .webextensionInfo {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        padding-block: 5rem;
        > div {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-inline: var(--standard-inline-padding);
            max-width: var(--standard-content-width);
            > * {
                width: 100%;
            }
        }
    }
}

footer {
    background-color: var(--color-border-grey);
    padding: 1rem;
    display: flex;
    ul {
        list-style: none;
        display: flex;
        gap: 1em;
        li a {
            color: black;
            transition: 150ms;
            &:hover {
                color: var(--color-blue);
            }
        }
    }
}


