:root {
    --color-black: black;
    --color-grey: #636363;
    --color-light-grey: #707070;
    --color-white: #fff;
    --color-blue: #2260ff;
    --color-light-blue: #cddbfd;
    --color-border-grey: #b5bfd9;
    --color-background-light: rgb(246, 244, 255);
    --color-background-light2: rgb(244, 249, 255);
    --color-focus-btn-primary: rgb(113, 40, 121);
    --color-focus-btn-secondary: rgb(248, 255, 53);
    /* --color-background-button: rgb(237, 233, 255); */
    --standard-inline-padding: 1em;
    --standard-content-width: 43em;
    --border-r: 0.3em;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; /* 100 - 900 */
    font-style: normal;
    font-display: swap;
    margin: 0;
}

/* classes */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.icon-bigger {
    scale: 1.6;
}

/* btn styles */
button, a.btn-primary {
    padding: 0.6em;
    border: none;
    text-align: center;
    width: fit-content;
    border-radius: var(--border-r);
    font-size: 1em;
    transition: 150ms ease-in-out;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &:hover:not(:disabled) {
        cursor: pointer;
    }
    &:disabled {
        opacity: 0.5;
    }
    &:active {
        scale: 0.97
    }
    &:focus-visible {
        scale: 1.05;
    }
}
.btn-primary {
    background-color: var(--color-blue);
    color: var(--color-white);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: nowrap;
    &:hover:not(:disabled) {
        background-color: var(--color-light-blue);
        color: var(--color-black);
    }
    &:focus-visible {
        background-color: var(--color-focus-btn-primary);
    }
}

.btn-secondary {
    background-color: var(--color-white);
    color: var(--color-black);
    border: solid 2px var(--color-blue);
    &:hover:not(:disabled) {
        background-color: var(--color-light-blue);
    }
    &:focus-visible {
        outline-width: medium;
        background-color: var(--color-focus-btn-secondary);
    }
}


/* main elements on the page */
header {
    /* display: flex;
    justify-content: center; */
    padding-top: 1em;
    padding-bottom: 0.6em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    div {
        /* max-width: var(--standard-content-width);
        width: 100%; */
        padding-inline: var(--standard-inline-padding);
        /* h1 {
            font-size: 1.3em;
            margin: 0;
        } */
        img {
            height: 1.5em;
            aspect-ratio: 5 / 1;
        }
    }
}
main {
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 13.71em);
    & section {
        font-size: 1rem;
        padding-inline: var(--standard-inline-padding);
        h2 {
            margin: 0;
            font-size: 1.05em;
        }
    }
    .shortcutInfo {
        background-color: var(--color-background-light);
    }
    
    .shortcutInfo, .webextensionInfo {
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
        padding-block: 5em;
        > div {
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-inline: var(--standard-inline-padding);
            max-width: var(--standard-content-width);
            > * {
                width: 100%;
            }
        }
    }
}

footer {
    background-color: var(--color-background-light);
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    ul {
        list-style: none;
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
        padding: 0;
        li a, li button {
            background: none;
            color: var(--color-text);
            text-decoration: underline;
            text-underline-offset: 0.1em;
            margin: 0;
            padding: 0;
            border-radius: 0px;
            box-shadow: none;

            &:hover {
                text-decoration: none;
                cursor: pointer;
            }
            color: black;
            transition: 150ms;
        }
    }
}

@media (min-width: 40em) {
    header div img{
        height: 2em;
    }
    main section {
            font-size: 1.2rem;
    }
}
@media (min-width: 60em) {
    main section {
         font-size: 1.4rem;
    }
 }
