html {
    /* scroll-behavior: smooth;
    overflow-y: overlay;
    scrollbar-gutter: auto; */
}
#webAlertDiv {
    width: 25em !important; 
    /* width: 100% !important; */
    height: fit-content !important;
    background: #fff;
    border: dashed black 2px;
    position: fixed;
    top: 50px;
    right: 1em;
    left: auto;
    z-index: 99999999999999999;
    padding: 0.5rem;
    color: black;

    /* position: sticky; */
    /* top: 0; */
    & h2 {
        font-size: 1.2rem;
        margin: 0;
    }
    & li {
        font-weight: 700;
        & span {
            font-weight: 400;
        }
    }
    & button {
        background-color: black;
        color: white;
        padding: 0.5rem;
    }
    & div > ul li:not(:nth-child(1)){
        display: none;
        & ul li {
            display: block;
        }
    }
}
#coloredLine {
    width: 100%;
    height: 10px;
    background-color: #474545;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999999999;
}