html {
    /* scroll-behavior: smooth;
    overflow-y: overlay;
    scrollbar-gutter: auto; */
}
body {
    width: calc(100% - 10px) !important;
    /* Make space for the colored line */
}
#webAlertDiv {
    width: fit-content !important; 
    height: fit-content !important;
    background: rgb(255, 255, 255);
    /* border: dashed black 1px; */
    position: fixed;
    top: 50%;
    translate: 0% -50%;
    left: 0.125em;
    right: auto;
    z-index: 99999999999999999;
    color: white;
    padding : 0.25rem;
    &.right {
        right: 0.125em;
        left: auto;
    }
    & h2 {
        font-size: 1.2rem;
        margin: 0;
    }
    & li {
        font-weight: 700;
        & span {
            font-weight: 400;
        }
    }
    & button {
        all: unset !important;
        background-color: rgb(3, 99, 14) !important;
        color: white !important;
        padding: 0.5rem !important;
        border: solid black 1px !important;
        text-align: center !important;
        /* width: 1em !important; */
        aspect-ratio: 1 !important;
        border-radius: 3px !important;
        font-size: 1rem !important;
    }
    & div{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        
        > ul li:not(:nth-child(1)){
            display: none;
            & ul li {
                display: block;
            }
        } 
    }
}
#coloredLine {
    width: 10px;
    height: 100%;
    background-color: #474545;
    position: fixed;
    top: 0;
    left: 0;
    right: auto;
    z-index: 99999999999999999;
    &.right {
        right: 0;
        left: auto;
    }
}

#getHelp, #openHomeBtn {
    width: 2rem;
    height: 2rem;
    background-color: black;
    color: white;
    border-radius: 50%;
    span {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
}

#visualStatus {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(45%, -45%);
    pointer-events: none;
    &.right {
        transform: translate(-45%, -45%);
    }
}