html {
    /* scroll-behavior: smooth;
    overflow-y: overlay;
    scrollbar-gutter: auto; */
}
#webAlertDiv {
    width: 25rem !important;
    height: fit-content !important;
    background: #fff;
    border: dashed black 2px;
    position: fixed;
    top: 50px;
    right: 1em;
    left: auto;
    z-index: 99999999999999999;
    padding: 0.5rem;
    color: black;
    & h2 {
        font-size: 1.2rem;
        margin: 0;
    }
    & li {
        font-weight: 700;
        & span {
            font-weight: 400;
        }
    }
    & button {
        background-color: black;
        color: white;
        padding: 0.5rem;
    }
}
