#webAlertDiv-wa20250624 {
    button {
        all: unset;
        &:hover {
            &:after {
                content: none !important;
                background-color: none !important;
                background: none !important;
                transition: 0ms !important;   
            }
            svg {
                fill: black !important;
            }
        }
        
        
        &:active {
            scale: 0.97
        }
        
    }

    > div {
        .responseDiv-wa20250624 {
            div {
                display: flex;
                flex-direction: column;
                margin-bottom: 3em;
            }
            button {
                width: fit-content;
                padding: 0.5em;
                background-color: black;
                border-radius: var(--border-r);
                color: white;
                transition: 200ms;
                &:hover, &:focus-visible {
                    background-color: var(--color-status-btn-hvr);
                    cursor: pointer;
                }
                &.btn-secondary-wa20250624 {
                    order: 1;
                    background: none;
                    border: solid 1px var(--color-text);
                    color: var(--color-text);
                    &:hover, &:focus-visible {
                        border: solid 1px  var(--color-status-btn-hvr);
                        background-color: none;
                    }
                }
                &.btn-tertiary-wa20250624 {
                    order: 4;
                    background: none;
                    color: var(--color-text);
                    text-decoration: underline;
                    text-underline-offset: 0.1em;
                    margin: 0;
                    margin-top: 2em;
                    padding: 0;
                    border-radius: 0px;
                    &:hover, &:focus-visible {
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
                &:focus-visible {
                    outline-width: medium;
                    outline-color: rgb(0, 38, 255);
                    outline-style: auto;
                }
                &.hidden-wa20250624 {
                    display: none !important;
                }
            }
            #moveWebExtensionButton-wa20250624 {
                position: absolute;
                bottom: 1em;
                left: 2.8em;
            }
            
            /* Let the important button bounce */
            .bounce-wa20250624 {
                animation: bounceb 1s ease-in-out infinite;
            }
        }
        /* Open and close button */
        > div:nth-of-type(2) {
            button {
                color: rgb(0, 0, 0) !important;
                padding: 0.5em !important;
                border-bottom: solid black 1px; 
                width: 1em;
                height: 1em;
                aspect-ratio: 1 !important;
                transform: rotate(-90deg) translateY(-50%);
        
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center !important;
                border-radius: 50% !important;
                transition: all 0.2s ease-in-out !important;
                &:hover, &:focus-visible {
                    color: black !important;
                    scale: 1.1;
                    cursor: pointer !important;
                }
                &:focus-visible {
                    outline-style: auto;
                }
            }
        }
    }
}

@keyframes bounceb {
    0%, 100% {
        scale: 1;
    }
    50% {
        scale: 1.07;
    }
}

body {
    /* Whole screen becomes red */
    &.danger-wa20250624 #webAlertDiv-wa20250624 {
        #closeBtn-wa20250624 {
            display: none;
        }
        #moveWebExtensionButton-wa20250624 {
            display: none;
        }
    }
}