/* General body styling */
body {
    /* Adjust width to make space for the colored line */
    width: calc(100% - 10px) !important;

    /* Font */
    & #webAlertDiv-wa20250624 * {
        font-family: "Noto Sans", sans-serif !important;
        font-optical-sizing: auto;
        font-weight: 400; /* 100 - 900 */
        font-style: normal;
        /* font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important; */
        font-size: 1.1rem !important;
    }
}

/* Visually hidden elements */
.v-h-wa20250624 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Root variables for colors */
:root {
    --color-danger: #DB0200;
    --color-danger-btn: rgb(90, 21, 21);
    --color-danger-btn-hvr: rgba(122, 0, 0, 0.8);

    --color-danger-fullscreen: #db0400ee;

    --color-success: #20C541;
    --color-success-btn: rgb(39, 141, 51);
    --color-success-btn-hvr: #1a792d;

    --color-warning: #FFC033;
    --color-warning-btn: #4b3400;
    --color-warning-btn-hvr: #815800;

    --color-default: #474545;
    --color-default-btn: rgb(99, 99, 99);
    --color-default-btn-hvr: rgba(99, 99, 99, 0.8);

    --color-status: var(--color-default);
    --color-status-btn: var(--color-default-btn);
    --color-status-btn-hvr: var(--color-default-btn-hvr);
}

/* Body states for danger, success, and warning */
body {
    &.danger-wa20250624, &.danger-side-wa20250624 {
        --color-status: var(--color-danger);
        --color-status-btn: var(--color-danger-btn);
        --color-status-btn-hvr: var(--color-danger-btn-hvr); 
        --color-text: white;
    }

    &.success-wa20250624 {
        --color-status: var(--color-success);
        --color-status-btn: var(--color-success-btn);
        --color-status-btn-hvr: var(--color-success-btn-hvr);
        --color-text: black;
        
        #statusText-wa20250624 {
            color: black !important;
        }
    }

    &.warning-wa20250624 {
        --color-status: var(--color-warning);
        --color-status-btn: var(--color-warning-btn);
        --color-status-btn-hvr: var(--color-warning-btn-hvr);
        --color-text: black;

        #statusText-wa20250624 {
            color: black !important;
        }
    }

    &.warning-wa20250624, &.default-wa20250624, &.success-wa20250624, &.danger-side-wa20250624 {
        #statusText-wa20250624 {
            margin: 0;
            margin-bottom: 0.5em;
        }

        #webAlertDiv-wa20250624 > div.open-wa20250624 {
            justify-content: space-between;
            > div:nth-of-type(1) {
                display: flex;
            }
        }
    }
    /* &.danger-side-wa20250624 {
        #webAlertDiv-wa20250624, #webAlertDiv.open-wa20250624 {
            #closeBtn-wa20250624 {
                fill: white;
                border-top: solid 1px white;
            }
        }
    } */

    /* Whole screen becomes red */
    &.danger-wa20250624 {
        #webAlertDiv-wa20250624 {
            width: 100% !important;
            height: 100% !important;
            min-height: 6em;
            display: flex;
            justify-content: center;    
            background-color: var(--color-danger-fullscreen);
            position: fixed;
            & * {
                font-size: 1.4rem !important;
            }
            > div {
                height: fit-content;
                align-self: center;
                width: fit-content;
                max-width: 40em;
                > .responseDiv-wa20250624 {
                    height: fit-content;
                    
                    div {
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 0.6em;
                        margin-bottom: 0em;
                        button {
                            white-space: pre-wrap;
                        }
                        #moveWebExtensionButton-wa20250624 {
                            align-self: start;
                        }
                    }
                } 
            }
        }
    }
}

/* Web alert container styling */
#webAlertDiv-wa20250624 {  
    width: fit-content !important;
    height: fit-content !important;
    min-height: 6em;
    display: flex;
    justify-content: center;
    background-color: var(--color-status);
    position: fixed;
    top: 50%;
    left: auto;
    right: 0.125em;
    translate: 0% -50%;
    z-index: 99999999999999999;
    color: white;
    border-radius: 5px 0px 0px 5px;
    padding: 1em;
    transform: translateX(89%);
    transition: 0.3s ease-out;

    &.open-wa20250624 {
        transform: translateX(0%);
        #closeBtn-wa20250624 {
            transform: rotate(90deg) translateY(40%);
            border-bottom: none;
            border-top: solid black 1px;
        }
    }

    > div {
        max-width: 20em;
        display: flex;
        gap: 0.8em;
        .responseDiv-wa20250624 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0.2em;
            div {
                gap: 0.2em;
                display: flex;
                flex-direction: column;
            }
        }

        /* Div with the open and close button */
        > div:nth-of-type(2) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 1em;
            order: -1;
        }

        /* argument list (only visible on donger state and in history list) */
        #arguments-wa20250624 {
            display: none;
            p {
                margin: 0;
                margin-bottom: 1em;
            }
            li {
                color: rgb(255, 179, 179);
            }
            .highlight-wa20250624 {
                font-weight: 600;
                color: white;
            }
        }
    }

    /* When the extension is on the left side of the screen */
    &.left-wa20250624 {
        left: 0.125em;
        right: auto;
        transform: translateX(-89%);
        border-radius: 0px 5px 5px 0px;
        padding: 1em;
        > div > div:nth-of-type(2) {
            order: 1;
       
        }
        #closeBtn-wa20250624 {
            transform: rotate(90deg) translateY(7%);
        }
        &.open-wa20250624 {
            transform: translateX(0%);
            #closeBtn-wa20250624 {
                transform: rotate(-90deg) translateY(-10%);
                border-bottom: none;
                border-top: solid black 1px;
            }
        }
        #moveWebExtensionButton-wa20250624 {
            left: 1em !important;
        }
    }
}

/* Colored line styling */
#coloredLine-wa20250624 {
    width: 10px;
    height: 100%;
    background-color: var(--color-status);
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    z-index: 99999999999999999;

    &.left-wa20250624 {
        left: 0;
        right: auto;
    }
}
