/* General body styling */
body {
    /* Adjust width to make space for the colored line */
    width: calc(100% - 10px) !important;

    /* Font */
    & #webAlertDiv * {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
        font-size: 1.1rem !important;
    }
}

/* Visually hidden elements */
.v-h {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Root variables for colors */
:root {
    --color-danger: #DB0200;
    --color-danger-btn: rgb(222, 42, 42);
    --color-danger-btn-hvr: rgba(183, 72, 72, 0.8);

    --color-danger-fullscreen: #db0400ee;

    --color-success: #0FA52C;
    --color-success-btn: rgb(39, 141, 51);
    --color-success-btn-hvr: #1a792d;

    --color-warning: #FFC033;
    --color-warning-btn: rgb(99, 99, 3);
    --color-warning-btn-hvr: #ffae00;

    --color-default: #474545;
    --color-default-btn: rgb(99, 99, 99);
    --color-default-btn-hvr: rgba(99, 99, 99, 0.8);

    --color-status: var(--color-default);
    --color-status-btn: var(--color-default-btn);
    --color-status-btn-hvr: var(--color-default-btn-hvr);
}

/* Body states for danger, success, and warning */
body {
    &.danger, &.danger-side {
        --color-status: var(--color-danger);
        --color-status-btn: var(--color-danger-btn);
        --color-status-btn-hvr: var(--color-danger-btn-hvr);
    }

    &.success {
        --color-status: var(--color-success);
        --color-status-btn: var(--color-success-btn);
        --color-status-btn-hvr: var(--color-success-btn-hvr);
    }

    &.warning {
        --color-status: var(--color-warning);
        --color-status-btn: var(--color-warning-btn);
        --color-status-btn-hvr: var(--color-warning-btn-hvr);

        #statusText {
            color: black !important;
        }
    }

    &.warning, &.default, &.success, &.danger-side {
        #statusText {
            margin: 0;
            margin-bottom: 0.5rem;
        }

        #webAlertDiv > div.open {
            justify-content: space-between;
            > div:nth-of-type(1) {
                display: flex;
            }
        }
    }
    /* Whole screen becomes red */
    &.danger {
        #webAlertDiv {
            width: 100% !important;
            height: 100% !important;
            min-height: 6rem;
            display: flex;
            justify-content: center;    
            background-color: var(--color-danger-fullscreen);
            position: fixed;
            & * {
                font-size: 1.4rem !important;
            }
            > div {
                height: fit-content;
                align-self: center;
                width: fit-content;
                max-width: 40rem;
                > .responseDiv {
                    height: fit-content;
                    div {
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: 0.6rem;
                        button {
                            white-space: pre-wrap;
                        }
                    }
                }    
                #closeBtn {
                    display: none;
                }
                #moveWebExtensionButton {
                    display: none;
                }
            }
        }
    }
}

/* Web alert container styling */
#webAlertDiv {  
    width: fit-content !important;
    height: fit-content !important;
    min-height: 6rem;
    display: flex;
    justify-content: center;
    background-color: var(--color-status);
    position: fixed;
    top: 50%;
    left: auto;
    right: 0.125rem;
    translate: 0% -50%;
    z-index: 99999999999999999;
    color: white;
    border-radius: 5px 0px 0px 5px;
    padding: 1rem 0.5rem 1rem 1rem;
    transform: translateX(87%);
    transition: 0.3s ease-out;
    button {
        all: unset;
    }
    &.open {
        padding-block: 0.75rem;
        transform: translateX(0%);
        #closeBtn {
            transform: rotate(90deg) translateY(40%);
            border-bottom: none;
            border-top: solid black 1px !important;
        }
    }

    > div {
        max-width: 15.6rem;
        display: flex;
        gap: 0.5rem;
        .responseDiv {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0.2rem;
            div {
                gap: 0.2rem;
                display: flex;
                flex-direction: column;
                button {
                    width: fit-content;
                    padding: 0.5rem;
                    background-color: black;
                    /* align-self: start; */
                    border-radius: 10px;
                    color: white;
                    transition: all 0.2s;
                    &:hover {
                        background-color: var(--color-status-btn-hvr) !important;
                        cursor: pointer !important;
                    }
                }
                
                .bounce {
                    animation: bounceb 1s ease-in-out infinite;
                }
            }
        }
        > div:nth-of-type(2) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 1rem;
            order: -1;
            button {
                color: white !important;
                padding: 0.5rem !important;
                border-bottom: solid black 1px; 
                width: 1rem;
                height: 1em;
                aspect-ratio: 1 !important;
                /* font-size: 1rem !important; */
                transform: rotate(-90deg) translateY(-50%);

                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center !important;
                border-radius: 50% !important;
                transition: all 0.2s ease-in-out !important;
                &:hover {
                    scale: 1.1;
                    cursor: pointer !important;
                }
            }
        }
        #arguments {
            display: none;
            li {
                color: rgb(255, 179, 179);
            }
            .highlight {
                font-weight: 600;
                color: white;
            }
        }
    }

    /* When the extension is on the right side of the screen */
    &.left {
        left: 0.125rem;
        right: auto;
        transform: translateX(-86%);
        border-radius: 0px 5px 5px 0px;

        > div > div:nth-of-type(2) {
            order: 1;
       
        }
        #closeBtn {
            transform: rotate(90deg) translateY(25%);
        }
        &.open {
            transform: translateX(0%);
            #closeBtn {
                transform: rotate(-90deg) translateY(-20%);
                border-bottom: none;
                border-top: solid black 1px !important;
            }
        }
    }
}

/* Colored line styling */
#coloredLine {
    width: 10px;
    height: 100%;
    background-color: var(--color-status);
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    z-index: 99999999999999999;

    &.left {
        left: 0;
        right: auto;
    }
}


@keyframes bounceb {
    0%, 100% {
        scale: 1;
    }
    50% {
        scale: 1.1;
    }
}