/* General body styling */
body {
    /* Adjust width to make space for the colored line */
    width: calc(100% - 10px) !important;
}

/* Visually hidden elements */
.v-h {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Root variables for colors */
:root {
    --color-danger: #DB0200;
    --color-danger-btn: rgb(222, 42, 42);
    --color-danger-btn-hvr: rgba(183, 72, 72, 0.8);

    --color-success: #0FA52C;
    --color-success-btn: rgb(39, 141, 51);
    --color-success-btn-hvr: rgba(98, 205, 110, 0.8);

    --color-warning: #FFC033;
    --color-warning-btn: rgb(99, 99, 3);
    --color-warning-btn-hvr: rgba(99, 99, 3, 0.8);

    --color-default: #474545;
    --color-default-btn: rgb(99, 99, 99);
    --color-default-btn-hvr: rgba(99, 99, 99, 0.8);

    --color-status: var(--color-default);
    --color-status-btn: var(--color-default-btn);
    --color-status-btn-hvr: var(--color-default-btn-hvr);
}

/* Keyframes for animations */
@keyframes alertUser {
    from {
        width: 0;
    }
    to {
        width: 250px;
    }
}

@keyframes jumpingVisualStatus {
    0%, 100% {
        scale: 1;
    }
    50% {
        scale: 1.1;
    }
}

@keyframes turnAround {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Body states for danger, success, and warning */
body {
    &.danger {
        --color-status: var(--color-danger);
        --color-status-btn: var(--color-danger-btn);
        --color-status-btn-hvr: var(--color-danger-btn-hvr);

        #visualStatus {
            animation: jumpingVisualStatus 1s ease-in-out infinite;
            animation-delay: 0.5s;
        }
    }

    &.success {
        --color-status: var(--color-success);
        --color-status-btn: var(--color-success-btn);
        --color-status-btn-hvr: var(--color-success-btn-hvr);
    }

    &.warning {
        --color-status: var(--color-warning);
        --color-status-btn: var(--color-warning-btn);
        --color-status-btn-hvr: var(--color-warning-btn-hvr);

        #statusText {
            color: black !important;
        }
    }

    &.danger, &.warning, &.default, &.success  {
        #statusText {
            margin: 0;
            margin-bottom: 0.5em;
        }

        #webAlertDiv > div.open {
            justify-content: space-between;
            animation: alertUser 300ms ease-in-out forwards;

            > div:nth-of-type(1) {
                display: flex;

                p {
                    font-size: 1rem;
                }
            }
        }
    }
}

/* Web alert container styling */
#webAlertDiv {
    width: fit-content !important;
    height: fit-content !important;
    min-height: 6em;
    display: flex;
    justify-content: center;
    background-color: var(--color-status);
    position: fixed;
    top: 50%;
    translate: 0% -50%;
    left: 0.125em;
    z-index: 99999999999999999;
    color: white;
    padding: 1.25rem 0.5rem 0.5rem 0.25rem;
    border-radius: 0px 0px 0px 5px;
    
    button {
        all: unset;
    }

    > div {
        display: flex;
        gap: 0.5rem;
        width: fit-content !important;
        max-width: 250px !important;

        > div:nth-of-type(1) {
            display: none;

            p {
                font-size: 1rem;
            }
        }

        > div:nth-of-type(2) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 1em;


            button {
                background-color: var(--color-status-btn) !important;
                color: white !important;
                padding: 0.5rem !important;
                border: solid black 1px !important;
                width: 1rem;
                height: 1em;
                aspect-ratio: 1 !important;
                font-size: 1rem !important;
                transform: rotate(90deg) translateY(0%);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center !important;
                border-radius: 50% !important;

                &:hover {
                    background-color: var(--color-status-btn-hvr) !important;
                    cursor: pointer !important;
                    transition: all 0.2s ease-in-out !important;
                }
            }
        }
    }

    /* When the extension is on the right side of the screen */
    &.right {
        right: 0.125em;
        left: auto;
        padding: 1.25rem 0.25rem 0.5rem 0.5rem;

        > button {
            align-self: end !important;
        }

        > div > div:nth-of-type(2) {
            order: -1 !important;

            button {
                transform: rotate(-90deg) translateY(-50%);
            }
        }

        .responseDiv button {
            align-self: start;
        }

        #visualStatus {
            left: 0;
            right: auto;
            transform: translate(-45%, -45%);

            &.loading {
                width: 2.1em;
                height: 2.1em;
                overflow: hidden;
                border-radius: 50%;
                background-color: #474545;

                svg {
                    width: 2.1em;
                    height: 2.1em;
                    animation: turnAround 500ms linear infinite;
                }
            }
        }
    }

    .responseDiv {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.2em;

        button {
            width: fit-content;
            padding: 0.5rem;
            background-color: black;
            align-self: end;
            border-radius: 10px;
            color: white;
        }
    }

    #visualStatus {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(45%, -45%);
        pointer-events: none;

        svg {
            width: 3rem;
            height: 3rem;
        }
    }
}

/* Colored line styling */
#coloredLine {
    width: 10px;
    height: 100%;
    background-color: var(--color-status);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999999999;

    &.right {
        right: 0;
        left: auto;
    }
}